*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #385170;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

h1 {
  color: #ececec;
  margin-bottom: 30px;
}

section {
  outline: 3px solid #142d4c;
  width: 95%;
  margin-bottom: 50px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  color: #142d4c;
  font-size: 0.8rem;
}

.container:nth-child(even) {
  background-color: #9fd3c7;
}

.container:nth-child(odd) {
  background-color: #ececec;
}

.width {
  word-break: break-all;
}

.deletebtn {
  height: 30px;
  padding: 2px 5px;
  background-color: #385170;
  border: none;
  color: #ececec;
}

.deletebtn:hover {
  cursor: pointer;
  background-color: gainsboro;
  color: #142d4c;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 60%;
}

form > h2 {
  color: #ececec;
  margin-bottom: 10px;
}

form > input {
  width: 100%;
  padding: 5px;
}

input[type="submit"] {
  width: 25%;
  align-self: flex-end;
  padding: 2px 5px;
  background-color: #ececec;
  color: #142d4c;
  border: none;
}

input[type="submit"]:hover {
  cursor: pointer;
  background-color: #9fd3c7;
  color: #142d4c;
}

@media (min-width: 768px) {
  section {
    width: 50%;
  }

  form {
    width: 25%;
  }
}
